/* Обнуляем отступы */
body {
    margin: 0;
    padding: 0;
    background: #000;
    font-family: "Inter", sans-serif;
    color: #fff;
    overflow: hidden;
}

/* Видео-фон */
#bgVideo {
    position: fixed;
    top: 50%;
    left: 50%;
    width: auto;
    height: 100vh;
    min-width: 100%;
    min-height: 100%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    z-index: -3;
}

/* Затемняющий слой */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.55); /* регулируем прозрачность */
    z-index: -2;
}

/* Лёгкий глитч */
.glitch {
    position: fixed;
    inset: 0;
    background: repeating-linear-gradient(
        transparent 0px,
        rgba(255, 255, 255, 0.03) 1px,
        transparent 2px
    );
    mix-blend-mode: overlay;
    animation: glitchMove 3s infinite linear;
    z-index: -1;
}

@keyframes glitchMove {
    0% { transform: translateY(0); }
    100% { transform: translateY(-100px); }
}

/* Контент */
.content {
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    max-width: 650px;
    width: 90%;
}

/* Заголовок */
h1 {
    font-size: 40px;
    margin-bottom: 12px;
    text-shadow: 0 0 25px rgba(255,255,255,0.35);
}

/* Текст */
p {
    font-size: 18px;
    opacity: 0.85;
}

/* Кнопка */
.btn {
    display: inline-block;
    margin-top: 25px;
    padding: 15px 35px;
    background: linear-gradient(135deg, #7d2bff, #4b14c7);
    color: white;
    border-radius: 14px;
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
    transition: 0.25s;
    box-shadow: 0 0 25px rgba(125,43,255,0.5);
}

.btn:hover {
    transform: scale(1.05);
    box-shadow: 0 0 35px rgba(150,70,255,0.75);
}

/* Примечание */
.note {
    opacity: 0.65;
    margin-top: 18px;
    font-size: 15px;
}
